.course-content {
	margin-left: -40px;
	padding: 0px;
}

.course-content ul.topics {
	margin:0;
}

.course-content ul.topics li.section {
	list-style: none;
	margin:0px;
	padding:0;
	border: 0px none;
}

.course-content ul.topics li.section .content {
	margin:0 40px;
}

.course-content ul.topics li.section .left {
	width:0px;
	float:left;
	text-align:center;
}

.course-content ul.topics li.section .right {
	width:40px;
	float:right;
	text-align:center;
}

.jumpmenu {
	text-align:center;
}